div.cell{
    max-width:750px;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    text-align:center;
    font-family:"Charis SIL", serif;
}

.rendered_html {
font-size: 130%;
line-height: 1.3;
}

.rendered_html li {
line-height: 2;
}

.rendered_html h1{
    margin: 0.5em 0;
    line-height: 1.3;
}

.rendered_html h2{
    margin: 0.15em 0;
    line-height: 1.2;
}

.text_cell_render {
    font-family: "Charis SIL", serif;
    line-height: 145%;
}

li li {
    font-size: 85%;
}
